<div class="row">
    <div class="col-md-7">
        <%= comment.comment %>
        <br>
        <% if comment.user.present? %>
            Comment Added By: <%= comment.user.email %>
        <% end %>
    </div>

    <div class="col-md-5">

        <%= button_to "Delete Comment", post_comment_path(@post.id,comment), method: :delete, class: "btn btn-danger" %>
    </div>
    <div class="border-bottom"></div>
</div>

